/* SCSS RGB */
$mantis: rgba(127, 217, 109, 1);
$light-green: rgba(169, 251, 167, 1);
$air-superiority-blue: rgba(136, 161, 190, 1);
$tekhelet: rgba(75, 37, 111, 1);
$dark-purple: rgba(71, 31, 62, 1);
